# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
*.egg-info/
dist/
build/

# Django
.env
backend/db.sqlite3
backend/media/
backend/.env
backend/staticfiles/
backups/
*.dump
*.sql
*.tar.gz

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
